body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  background-image: url("../images/bg.webp");
  background-size: cover;
}

header {
  background-color: #007bff;
  padding: 15px;
}

nav {
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 18px;
}

nav ul li a:hover {
  color: #f1ebeb;
  text-decoration: underline;
}

.titre {
  margin: 50px 25px 0px;
}

.contenu {
  margin: 20px 25px;
}

section[class="projets-gauche"] {
  float: left;
  width: 45%;
}

section[class="projets-droite"] {
  float: right;
  width: 45%;
}

img[class="proj-icon"] {
  display: inline;
  width: 25px;
  height: 25px;
  margin: auto 5px auto;
}

.lien-github {
  display: inline;
  width: 30px;
  height: 30px;
  margin: auto 35px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
